<form data-type="action" role="dialog">
  <header>Available tags</header>
  <menu>
    {{#each tag in sortedTags}}
      <button type='button' {{action 'selectTag' tag.name }}>
        {{tag.name}} ({{tag.count}})
      </button>
    {{/each}}
    <button type='button' {{action 'cancel'}}>Cancel</button>
  </menu>
</form>