<section id="loading" role="region">
  <header class="fixed">
    <h1>Loading data</h1>
  </header>
  <article class="content scrollable header">
    <header>
      <h2>Please wait</h2>
    </header>
    <progress class="pack-activity" max="100" value="0"></progress>
  </article>
</section>
