    <p>
      {{#if view.decryptedSecret}}
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40">
          <circle cx="50%" cy="50%" r="50%" fill="buttonface" />
          <path fill="white" />
        </svg>
        <input type="text" readonly {{bind-attr value=view.decryptedSecret}} />
      {{else}}
        <input type="password" placeholder="Enter your master password here" autofocus autocomplete="off" />
        <button type="reset">Clear</button>
      {{/if}}
    </p>
    <p>
      <button {{bind-attr class=view.buttonClass}}>{{view.buttonText}}</button>
    </p>
